@model List<fashion_shop.Core.DTOs.Responses.Admin.CategoryDto>

<ul class="dropdown-menu fw-bold">
    @foreach (var category in Model)
    {
        <li class="dropdown-item">@category.Name</li>
    }
</ul>