@model List<fashion_shop.Core.DTOs.Responses.Admin.BasicCategoryDto>

<ul class="dropdown-menu fw-bold">
    @foreach (var category in Model)
    {
        <li class="dropdown-item">
            <a href="/shop/index?CategorySlug=@Uri.EscapeDataString(category.Slug)">@category.Name</a>
        </li>
    }
</ul>